body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:624px;
}
#u46 {
  position:absolute;
  left:50px;
  top:50px;
  width:1260px;
  height:624px;
}
#u47 {
  position:absolute;
  left:2px;
  top:304px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#349EDF;
}
#u48 {
  position:absolute;
  left:287px;
  top:142px;
  width:503px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#349EDF;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  white-space:nowrap;
}
#u48_ann {
  position:absolute;
  left:783px;
  top:138px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:1147px;
  top:275px;
  width:112px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50_ann {
  position:absolute;
  left:1252px;
  top:271px;
  width:1px;
  height:1px;
}
