body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:456px;
}
#u16 {
  position:absolute;
  left:50px;
  top:50px;
  width:1262px;
  height:456px;
}
#u17 {
  position:absolute;
  left:2px;
  top:220px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u18 {
  position:absolute;
  left:1001px;
  top:322px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u20 {
  position:absolute;
  left:1059px;
  top:324px;
  width:1px;
  height:14px;
  color:#F2F2F2;
}
#u21 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u22 {
  position:absolute;
  left:1000px;
  top:393px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22_ann {
  position:absolute;
  left:1042px;
  top:389px;
  width:1px;
  height:1px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u24 {
  position:absolute;
  left:1058px;
  top:395px;
  width:1px;
  height:14px;
  color:#F2F2F2;
}
#u25 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u26 {
  position:absolute;
  left:1069px;
  top:393px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u28 {
  position:absolute;
  left:1127px;
  top:395px;
  width:1px;
  height:14px;
  color:#F2F2F2;
}
#u29 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u30 {
  position:absolute;
  left:1137px;
  top:393px;
  width:25px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u32 {
  position:absolute;
  left:1171px;
  top:395px;
  width:1px;
  height:14px;
  color:#F2F2F2;
}
#u33 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u34 {
  position:absolute;
  left:1182px;
  top:394px;
  width:25px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u36 {
  position:absolute;
  left:1216px;
  top:396px;
  width:1px;
  height:14px;
  color:#F2F2F2;
}
#u37 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u38 {
  position:absolute;
  left:1226px;
  top:394px;
  width:25px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u40 {
  position:absolute;
  left:931px;
  top:394px;
  width:49px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#349EDF;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40_ann {
  position:absolute;
  left:973px;
  top:390px;
  width:1px;
  height:1px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u42 {
  position:absolute;
  left:989px;
  top:396px;
  width:1px;
  height:14px;
  color:#F2F2F2;
}
#u43 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:321px;
}
#u44 {
  position:absolute;
  left:50px;
  top:602px;
  width:989px;
  height:321px;
}
#u45 {
  position:absolute;
  left:2px;
  top:152px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
